/* ===== BASE ===== */
*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* ===== LOBBY ===== */
.overlay {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease 0.5s;
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.overlay--hidden {
  opacity: 0;
  visibility: hidden;
}

.overlay__error {
  z-index: 1001;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  color: white;
  justify-content: center;
  align-items: center;
}
.overlay__error--visible {
  display: flex;
}

.lobby {
  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.lobby__header {
  height: 75px;
  width: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-content: center;
  color: rgba(0, 0, 0, 0.5);
}

.lobby__body {
  flex: 1;
  display: flex;
}

.lobby__players {
  flex: 1;
}

.lobby__player {
  display: flex;
  padding: 15px 25px;
}
.lobby__player:nth-child(even) {
  background: rgba(0, 0, 0, 0.03);
}

.lobby__player > p:first-child {
  flex: 1;
  font-size: 20px;
}

.lobby__player-status {
  text-transform: capitalize;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
.lobby__player-status--ready {
  color: #20bf55;
}

.lobby__game-info {
  width: 25%;
  min-width: 250px;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.lobby__game-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lobby__game-info li {
  display: flex;
  margin-bottom: 10px;
}

.lobby__game-info li > span {
  flex: 1;
}

.lobby__footer {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;

  background-color: rgba(0, 0, 0, 0.05);
}
.lobby__ready-btn {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #fff;
  padding: 15px 50px;
  cursor: pointer;
}
.lobby__ready-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* ===== GAME ===== */
.game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.game__container {
  flex: 1;
  display: flex;
  position: relative;
}

.memory {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  perspective: 600px;
  position: relative;
  padding: 15px;
}

.card {
  height: 100%;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
  position: relative;
  backface-visibility: hidden;
}
.card__front,
.card__back {
  pointer-events: none;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}
.card__front {
  transform: rotateY(180deg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 10;
  transition: all 0.5 ease;
}
.card__back {
  transform: rotateY(0deg);
  background-color: rgba(0, 0, 0, 0.3);
}
.card.flipped {
  transform: rotateY(180deg);
}
.card.completed {
  transform: rotateY(180deg);
  pointer-events: none;
}

.game__countdown {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
}
.game__countdown h1 {
  height: auto;
}

.game__side {
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.3);
}

.game__timer {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
}

.game__players {
  display: flex;
  flex-direction: column;
}

.player {
  padding: 15px;
  color: white;
}
.player:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.08);
}

.player__header {
  display: flex;
  justify-content: flex-start;
}

.player__name {
}

.player__you {
  margin-left: auto;
  margin-bottom: 3px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: flex-end;
}

.player__clicks {
  display: flex;
  margin-top: 5px;
  font-size: 14px;
}
.player__clicks span:last-child {
  margin-left: auto;
}

.player__progress {
  display: flex;
  height: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 3px;
}

.player__progress > div {
  flex: 1;
  margin-right: 3px;
}

.player__progress > div:last-child {
  margin-right: 0;
}

.player__progress > div.completed {
  background-color: #20bf55;
}
