/* ===== BASE ===== */
*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* ===== HOMEPAGE ===== */
.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home__wrapper {
  padding: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.home__wrapper h1 {
  font-size: 60px;
}

.home__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 25px;
}

.home__box {
  flex: 1;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-align: left;
  margin: 0 5px;
  transition: 0.3s ease;
  color: white;
}

.home__box:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.home__box p {
  margin-top: 10px;
  font-size: 12px;
}

/* ===== MP GAME LOBBY ===== */
.overlay {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s ease 0.5s;
  background: #2b5876;
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
  background: linear-gradient(to right, #4e4376, #2b5876);
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite; */
}

/* @keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
.overlay--hidden {
  opacity: 0;
  visibility: hidden;
}

.overlay__error {
  z-index: 1001;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  color: white;
  justify-content: center;
  align-items: center;
}
.overlay__error--visible {
  display: flex;
}

.lobby {
  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.lobby__header {
  height: 75px;
  width: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-content: center;
  color: rgba(0, 0, 0, 0.5);
}

.lobby__body {
  flex: 1;
  display: flex;
}

.lobby__players {
  flex: 1;
}

.lobby__player {
  display: flex;
  padding: 15px 25px;
}
.lobby__player:nth-child(even) {
  background: rgba(0, 0, 0, 0.03);
}

.lobby__player > p:first-child {
  flex: 1;
  font-size: 20px;
}

.lobby__player-status {
  text-transform: capitalize;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}
.lobby__player-status--ready {
  color: #20bf55;
}

.lobby__game-info {
  width: 25%;
  min-width: 250px;
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.lobby__game-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lobby__game-info li {
  display: flex;
  margin-bottom: 10px;
}

.lobby__game-info li > span {
  flex: 1;
}

.lobby__footer {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 25px;

  background-color: rgba(0, 0, 0, 0.05);
}
.lobby__ready-btn {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #fff;
  padding: 15px 50px;
  cursor: pointer;
}
.lobby__ready-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* ===== GAME ===== */
.game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.game__container {
  flex: 1;
  display: flex;
  position: relative;
}

.memory {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  perspective: 600px;
  position: relative;
  padding: 15px;
}

.card {
  height: 100%;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
  position: relative;
  backface-visibility: hidden;
}
.card__front,
.card__back {
  pointer-events: none;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}
.card__front {
  transform: rotateY(180deg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.05);
  z-index: 10;
  transition: all 0.5 ease;
}
.card__back {
  transform: rotateY(0deg);
  background-color: rgba(0, 0, 0, 0.3);
}
.card.flipped {
  transform: rotateY(180deg);
}
.card.completed {
  transform: rotateY(180deg);
  pointer-events: none;
}

.game__countdown {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
}
.game__countdown h1 {
  height: auto;
}

.game__finish-overlay {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s ease 0.5s;
}
.game__finish-overlay--open {
  visibility: visible;
  opacity: 1;
}

.game__finish-overlay p {
  margin-top: 10px;
}

.game__finish-overlay a {
  background-color: white;
  border: none;
  color: black;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 15px;
}

.game__replay {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 50px;
  cursor: pointer;
  margin-top: 25px;
}

.game__replay:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.game__side {
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.3);
}

.game__exit {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 50px;
  cursor: pointer;
}

.game__timer {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
}

.game__players {
  display: flex;
  flex-direction: column;
}

.player {
  padding: 15px;
  color: white;
  position: relative;
}
.player:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.08);
}

.player__placement {
  position: absolute;
  left: -11px;
  top: 50%;
  margin-top: -11px;
  height: 22px;
  width: 22px;
  background-color: #fff;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  visibility: hidden;
  z-index: 2000;
}

.player__placement--set {
  visibility: visible;
}

.player__header {
  display: flex;
  justify-content: flex-start;
}

.player__you {
  margin-left: auto;
  margin-bottom: 3px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: flex-end;
}

.player__clicks {
  display: flex;
  margin-top: 5px;
  font-size: 14px;
}
.player__clicks span:last-child {
  margin-left: auto;
}

.player__progress {
  margin-top: 5px;
  font-size: 14px;
  position: relative;
}

/* .player__progress span {
  position: absolute;
  top: 6px;
  right: 7px;
  color: rgba(0, 0, 0, 0.5);
  z-index: 100;
} */

.player__progress-blocks {
  display: flex;
  height: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 3px;
}

.player__progress-blocks > div {
  flex: 1;
  margin-right: 3px;
}

.player__progress-blocks > div:last-child {
  margin-right: 0;
}

.player__progress-blocks > div.completed {
  background-color: #20bf55;
}

/* BROWSE PAGE */
.browse {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.browse__back-btn {
  position: absolute;
  top: 25px;
  left: 25px;
  color: white;
}

.browse__container {
  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.browse__header {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.browse__header h1 {
  height: auto;
}

.browse__refresh {
  margin-left: auto;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 10px 30px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s ease;
}
.browse__refresh:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.browse__body {
  flex: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.browse__list-head {
  position: fixed;
  display: flex;
  max-width: 750px;
  width: 100%;
  padding: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.browse__list-head > div {
  flex: 0;
  min-width: 150px;
}

.browse__list-head > div:first-child {
  flex: 1;
}

.browse__list-body {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}

.browse__list-item {
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: white;
  min-height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.browse__list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.browse__list-item > div {
  flex: 0;
  min-width: 150px;
}

.browse__list-item > div:first-child {
  flex: 1;
}

.browse__footer {
  height: 75px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 15px;
}

.browse__create {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #fff;
  padding: 15px 50px;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.3s ease, visibility 0s ease 0.5s;
}

.modal--open {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s ease;
}

.modal__wrapper {
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal__form {
  margin-top: 15px;
  width: 100%;
}

.modal__form label {
  display: block;
}

.modal__form input {
  display: block;
  width: 100%;
  height: 40px;
}

.modal__buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.modal__buttons button:first-child {
  border: none;
  color: #fff;
  padding: 15px 50px;
  cursor: pointer;
  background-color: #20bf55;
  margin-right: 15px;
}

.modal__buttons button:last-child {
  border: none;
  color: #fff;
  padding: 15px 50px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}

/* ===== CREATE GAME PAGE ===== */
.create {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.create__container {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 500px;
}

.create__header {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.create__header h1 {
  height: auto;
}

.create__body {
  width: 100%;
  padding: 25px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.create__body > div > label {
  display: block;
  margin-top: 25px;
}

.create__body > div:first-child > label {
  margin: 0;
}

.create__body > div > input {
  display: block;
  height: 30px;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 0 15px;
}

.create__footer {
  height: 75px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 15px;
}

.create__footer input {
  height: 38px;
  border: none;
  margin-right: 10px;
  padding: 0 15px;
}

.create__footer button {
  border: none;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}
